@model MovieStoreMvc.Models.Domain.Movie
@{
    Layout = "_Admin";
}

<d class="container mt-5">
    <form class="row g-3" asp-action="Edit" method="post" enctype="multipart/form-data">
        <h2 class="pb-4 text-center">Update Movie</h2>
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="MovieImage">

        <div class="col-md-12">
            <label for="Genres" class="form-label">Thể loại</label>
            <select asp-items="Model.MultiGenreList" class="form-control" id="Genres" name="Genres" asp-for="Genres" multiple>
                <option value="">--select--</option>
            </select>
            <span asp-validation-for="Genres" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="ImageFile" class="form-label">Image</label>
            <input type="file" class="form-control" asp-for="ImageFile">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="ReleaseYear" class="form-label">Released Year</label>
            <input type="text" class="form-control" asp-for="ReleaseYear">
            <span asp-validation-for="ReleaseYear" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Cast" class="form-label">Cast</label>
            <input type="text" class="form-control" asp-for="Cast">
            <span asp-validation-for="Cast" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Director" class="form-label">Director</label>
            <input type="text" class="form-control" asp-for="Director">
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="alert alert-success mb-3 col-md-12">
                @TempData["msg"]
            </div>
        }

        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-secondary" href="/Movie/MovieList">All recor</a>
        </div>
    </form>
