@using static MovieStoreMvc.Models.DTO.RegistrationModel;
@model MovieStoreMvc.Models.DTO.RegistrationModel


<form asp-controller="UserAuthentication" asp-action="Register" method="post" class="container w-50 mt-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h2 class="mt-4 mb-4">Register</h2>


    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PasswordConfirm" class="form-label"></label>
        <input asp-for="PasswordConfirm" type="password" class="form-control" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Role" class="form-label">Select Role</label>
        <select asp-for="Role" asp-items="Html.GetEnumSelectList<RoleEnum>()" class="form-control">
            <option value="">-- Select Role --</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    @* <div class="mb-3">
    <label asp-for="Role" class="form-label"></label>
    <input asp-for="Role" class="form-control" />
    <span asp-validation-for="Role" class="text-danger"></span>
    </div> *@

    <div class="mb-3">   
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-primary" href="/UserAuthentication/Login">Login</a>
    </div>
</form>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["msg"]
    </div>
}
