@model List<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@using MovieStoreMvc.Models.Domain

@inject UserManager<ApplicationUser> UserManager

    <h2>Danh sách tài khoản</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Tên</th>
                <th>Email</th>
                <th>Tên tài khoản</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                    @foreach (var role in await UserManager.GetRolesAsync(user))
                    {
                            <span>@role</span>
                    }
                    </td>
                </tr>
        }
        </tbody>
    </table>
