
@using Microsoft.AspNetCore.Identity;
@using MovieStoreMvc.Models.Domain;
@inject UserManager<ApplicationUser> UserManager

@{
    string userName = User.Identity.Name;
    ApplicationUser user = null;
    string userDisplayName = string.Empty;

    if (!string.IsNullOrEmpty(userName))
    {
        user = await UserManager.FindByNameAsync(userName);
        userDisplayName = user != null ? user.Name : userName;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Store</title>
    

    <!-- Css Styles -->
    <link rel="stylesheet" href="../Layout/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../Layout/css/style.css" type="text/css">

    <!-- Custom styles for this template-->
    <style>
        .sidebar-sticky {
            background-color: #343a40; /* Màu nền dark */
            height: 100vh; /* Chiều cao tối đa là 100% chiều cao của viewport */
            overflow-y: auto; /* Cho phép thanh cuộn nếu nội dung quá dài */
        }

        .nav-link {
            color: white; /* Màu chữ trắng */
        }
    </style>


</head>

<body>
    
                   
@if (string.IsNullOrEmpty(userName))
{
        <div id="preloder">
            <div class="loader"></div>
        </div>

        
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="header__logo w-100">
                                <a class="navbar-brand text-dark" href="/Home/Index">Movie</a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="header__top__right">
                                <div class="header__top__right__language">
                                    <img src="../Layout/img/language.png" alt="">
                                    <div>English</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="#">Vietnamese</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                                <div class="header__top__right__auth">
                                    <a href="/UserAuthentication/Login" class="btn btn-primary"><i class="fa fa-user"></i> LOGIN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="col-lg-12">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/Index">Trang Chủ</a></li>
                                <li class="nav-item separator"><span class="nav-link text-gray">|</span></li>
                                <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/About">Về Chúng Tôi</a></li>
                                <li class="nav-item separator"><span class="nav-link text-gray">|</span></li>
                                <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/Favorites">Yêu Thích</a></li>
                                <li class="nav-item separator"><span class="nav-link text-gray">|</span></li>
                                <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/ReviewDetail">Tin Tức</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>


        </header>
        <div>
            @RenderBody()
        </div>

        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                
                <!-- Left -->
                <div>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-google"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <!-- Right -->
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="bi bi-gem me-3"></i>Về Chúng Tôi
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer content. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Movie
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Trang Chủ</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Về Chúng Tôi</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Yêu Thích</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Tin Tức</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful Links
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Pricing</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Settings</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Orders</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="bi bi-house me-3"></i> New York, NY 10012, US</p>
                            <p>
                                <i class="bi bi-envelope me-3"></i>
                                editer2k4@gmail.com
                            </p>
                            <p><i class="bi bi-phone me-3"></i> + 01 234 567 88</p>
                            <p><i class="bi bi-printer me-3"></i> + 01 234 567 89</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="https://www.facebook.com/dit.spin.7">TTT</a>
            </div>
            <!-- Copyright -->
        </footer>
    }
                    else 
                    {
        @if (!string.IsNullOrEmpty(userName) && User.IsInRole("Admin"))
        {
            <div class="container-fluid">
                <div class="row">
                    <!-- Header -->
                    <header class="header__logo w-100 bg-dark text-white d-flex align-items-center justify-content-between">
                        <a class="ml-5 sidebar-brand d-flex align-items-start justify-content-start" href="/Movie/MovieList">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fas fa-laugh-wink"></i>
                            </div>
                            <div class="sidebar-brand-text mx-3">TTT ADMIN</div>
                        </a>

                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-light" type="button">
                                        @* <i class="fas fa-search"></i> *@
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Logout Button -->
                        <div class="header__top__right__auth mr-5">
                            <a href="/UserAuthentication/Logout" class="btn btn-outline-light">
                                <i class="bi bi-box-arrow-right"></i> LOGOUT
                            </a>
                        </div>

                    </header>

                    <!-- Sidebar -->
                    <nav class="col-md-2 bg-dark text-white">
                        <div class="sidebar-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Privacy">
                                        <i class="bi bi-speedometer2 mr-2"></i>
                                        Dashboard
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/Movie/MovieList">
                                        <i class="bi bi-film mr-2"></i>
                                        Danh Sách Phim
                                    </a>
                                </li>
                                <!-- Add other sidebar links as needed -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/Review/ReviewList">
                                        <i class="bi bi-film mr-2"></i> <!-- Thêm biểu tượng Font Awesome cho phần trước của liên kết -->
                                        Danh Sách Review
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Genre/Add">
                                        <i class="bi bi-film mr-2"></i> <!-- Biểu tượng Font Awesome -->
                                        Thể Loại
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Movie/Add">
                                        <i class="bi bi-film mr-2"></i> <!-- Biểu tượng Font Awesome -->
                                        Phim
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Review/Add">
                                        <i class="bi bi-film mr-2"></i> <!-- Biểu tượng Font Awesome -->
                                        Tin Tức
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/AccountManager/Edit">
                                        <i class="bi bi-person mr-2"></i> <!-- Biểu tượng Font Awesome -->
                                        Quản Lý Tài Khoản
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                    </nav>

                    <!-- Main content -->
                    <main role="main" class="col-md-10">
                        <!-- Example content -->
                        <div class="row">
                            @RenderBody()
                            <!-- Your main content goes here -->
                        </div>
                    </main>
                </div>
            </div>
        } 
        else {


            <div id="preloder">
                <div class="loader"></div>
            </div>


            <header class="header">
                <div class="header__top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="header__logo w-100">
                                    <a class="navbar-brand text-dark" href="/Home/Index">Movie</a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="header__top__right">
                                    <div class="header__top__right__language">
                                        <img src="../Layout/img/language.png" alt="">
                                        <div>English</div>
                                        <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li><a href="#">Vietnamese</a></li>
                                            <li><a href="#">English</a></li>
                                        </ul>
                                    </div>
                                    <div class="header__top__right__auth">
                                        <a href="/UserAuthentication/Login" class="btn btn-primary"><i class="fa fa-user"></i> LOGIN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="col-lg-12">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                    <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/Index">Trang Chủ</a></li>
                                    <li class="nav-item separator"><span class="nav-link text-gray">|</span></li>
                                    <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/About">Về Chúng Tôi</a></li>
                                    <li class="nav-item separator"><span class="nav-link text-gray">|</span></li>
                                    <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/Favorites">Yêu Thích</a></li>
                                    <li class="nav-item separator"><span class="nav-link text-gray">|</span></li>
                                    <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="/Home/ReviewDetail">Tin Tức</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


            </header>
            <div>
                @RenderBody()
            </div>

            <footer class="text-center text-lg-start bg-light text-muted">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                    <!-- Left -->
                    <!-- Left -->
                    <div>
                        <a href="" class="me-4 text-reset">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi bi-google"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                    <!-- Right -->
                    <!-- Right -->
                </section>
                <!-- Section: Social media -->
                <!-- Section: Links  -->
                <section class="">
                    <div class="container text-center text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <!-- Content -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <i class="bi bi-gem me-3"></i>Về Chúng Tôi
                                </h6>
                                <p>
                                    Here you can use rows and columns to organize your footer content. Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Movie
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">Trang Chủ</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Về Chúng Tôi</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Yêu Thích</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Tin Tức</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Useful Links
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">Pricing</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Settings</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Orders</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Help</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                <p><i class="bi bi-house me-3"></i> New York, NY 10012, US</p>
                                <p>
                                    <i class="bi bi-envelope me-3"></i>
                                    editer2k4@gmail.com
                                </p>
                                <p><i class="bi bi-phone me-3"></i> + 01 234 567 88</p>
                                <p><i class="bi bi-printer me-3"></i> + 01 234 567 89</p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Links  -->
                <!-- Copyright -->
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                    © 2023 Copyright:
                    <a class="text-reset fw-bold" href="https://www.facebook.com/dit.spin.7">TTT</a>
                </div>
                <!-- Copyright -->
            </footer>
                       } 
                    }



    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../Layout/js/jquery-3.3.1.min.js"></script>
    <script src="../Layout/js/bootstrap.min.js"></script>
    <script src="../Layout/js/jquery.nice-select.min.js"></script>
    <script src="../Layout/js/jquery-ui.min.js"></script>
    <script src="../Layout/js/jquery.slicknav.js"></script>
    <script src="../Layout/js/mixitup.min.js"></script>
    <script src="../Layout/js/owl.carousel.min.js"></script>
    <script src="../Layout/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

</body>

</html>
